* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Helvetica, Arial;
	font-size: 1.2em;
	background-color: #eee;
}
h1, h2 {
	color: #21df21;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;#ffffff
}

p {
	text-align: justify;
}
